:root {
    --white: #ffffff;
    --almost-white: #e5e5e5;
    --blue: #2196f3;
    --almost-black: #212121;
    --black: #000000;
    --dark-gray: #2f303a;
    --gray: #757575;
    --light-gray: #f5f4fa;
    --button-blue: #0000ff;
    --border-header: #ececec;
    --border-portfolio-li: #eeeeee;
    --social-media: #AFB1B8;
    --privacy: #757575;
}



/* .hero {
    background-color: var(--dark-gray);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/backgrund_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
}

.hero__title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Przycisk sesji głównej */

/* .hero__button {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    padding: 10px 41px;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* styl głównego przycisku */



/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    visibility: visible;
    z-index: 1;
    transition-property: opacity, visibility;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__content {
    position: absolute;
    background-color: var(--white);
    color: var(--black);
    text-transform: none;
    width: 528px;
    height: 581px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal__close-button-icon {
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666em;
    letter-spacing: 0.01em;
    color: var(--gray);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}

.modal__contact-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 4px;
    width: 100%;
}

.modal__contact-text {
    margin-top: 4px;
}


.modal__form input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-top: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal__form input:focus-within {
    border-color: var(--blue);
}

.modal__textarea:focus-within {
    border-color: var(--blue);
}

.modal__textarea {
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form input:hover,
.modal__textarea:hover {
    border: 1px solid var(--blue);
}

.modal__privacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.modal__privacy input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

.privacy {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--privacy);
}

.modal__submit-button {
    width: 200px;
    height: 50px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--blue);
    border-radius: 4px;
    color: var(--white);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.06em;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin: 0 auto;
}

.modal__submit-button:hover {
    color: var(--dark-gray);
}

.modal__icon {
    position: absolute;
    transform: translate(10px, -30px);
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover {
    color: var(--blue);
}

.modal__label:focus-within    {
    fill: var(--blue);
    width: 100%;
}


.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.modal__content:hover,
.modal__close-button:hover {
    border: 1px solid var(--blue);
}

.modal__close-button:hover .modal__close-button-icon {
    fill: var(--blue);
}

.modal__close-button, .modal__close-button-icon {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Pierwszy artykuł sekcji */

/* .about-us {
    padding: 94px 0;
}

.about-us__icon-wrap {
    background: var(--light-gray);
    border-radius: 4px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.about-us__icon {
    width: 70px;
    height: 70px;
    background: var(--light-gray);
    border-radius: 4px;
}

.about-us__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: var(--gray);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.about-us__item {
    width: 270px;
}

.about-us__heading {
    color: var(--almost-black);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
} */

/* Druga sekcja - artykuły */

/* .what-we-do {
    padding-bottom: 94px;
}

.what-we-do__list {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.what-we-do__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.what-we-do__item {
    display: inline-block;
}

.what-we-do__item {
    position: relative;
}

.what-we-do__image {
    display: block;
}

.what-we-do__item .what-we-do__label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 70px;
    text-align: center;
} */


/* Trzecia sekcja */

/* .our-team__info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team {
    padding: 94px 0 94px 0;
    background: #F5F4FA;
}

.our-team__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.our-team__item {
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.our-team__name {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--almost-black);
}

.our-team__position {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--gray);
    margin-bottom: 16px;
}

.our-team__heading {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--almost-black);
}

.social-media-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: color 250ms;
}

.social-media-links__link {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--social-media);
    transition: color 250ms;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-links__link:hover, .social-media-links__link:focus  {
    background-color: var(--blue);
}

.social-media-links__icon {
    fill: currentColor;
}

.social-media-links__link:hover .social-media-links__icon {
    fill: var(--white);
} */


/* Czwarta sekcja */

/* .our-clients {
    padding: 94px 0 94px 0;
}

.our-clients__heading {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--almost-black);
}

.our-clients__list {
    display: flex;
    gap: 30px;
}

.our-clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid currentColor;
    color: var(--social-media);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__link:hover,
.our-clients__link:focus {
    color: var(--blue);
}

.our-clients__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__logo:hover {
    fill: var(--blue);
} */

/* Stopka i linki */

/* .footer {
    padding: 60px 0;
    background-color: var(--dark-gray);
}

.footer-logo__link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo__link:hover,
.footer-logo__logo:hover {
    color: var(--blue);
}

.footer-logo__logo {
    color: var(--blue);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer-address__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__list {
    padding: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    list-style: none;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__item:not(:first-child)  {
    margin-top: 9px;
}

.footer-mail__link {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-phone__link {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail__link:hover,
.footer-phone__link:hover,
.footer-address__link:hover {
    color: var(--blue);
}

/* Social media linki - Dołącz do nas */

/* .footer-join-us__heading {
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-join-us {
    gap: 10px;
    margin-left: 70px;
}

.footer-social-media__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover {
    background-color: var(--blue);
}

.social-media-links__icon {
    fill: var(--social-media);
}

.footer__link:hover .sm-icon-footer {
    fill: var(--white);
}

.footer-social-media__logo {
    fill: var(--white);
}

.sing-up {
    color: var(--white);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: auto;
}

.sing-up__form {
    display: flex;
}

.sing-up__heading {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
}


.sing-up__input {
    box-sizing: border-box;
    color: var(--white);
    width: 358px;
    height: 50px;
    background: var(--dark-gray);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 15px;
    margin-right: 12px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sing-up__input:hover {
    border: 1px solid var(--blue);
}

.sing-up button {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--blue);
    border-radius: 4px;
    color: var(--white);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.06em;
    text-align: left;
    padding-left: 42px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sing-up button:hover {
    color: var(--dark-gray);
}

.sing-up__icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: var(--white);
} */ */

/* .portfolio-btns {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-btns__list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    cursor: pointer;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-btns__item {
    display: inline;
}

.portfolio-btns__btn {
    list-style: none;
    background-color: var(--light-gray);
    color: var(--almost-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btns__btn:hover {
    background-color: #2196f3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .portfolio-picture__desc-wrap {
    padding: 20px 24px;
    border: 1px solid var(--border-portfolio-li);
}


.portfolio-picture__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.portfolio-picture__text {
    color: var(--gray);
}

.portfolio-picture__list li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
} */

/* description to img*/
/* .portfolio-picture__item {
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-picture__item::before {
    content: "";
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 0;
    background: rgba(33, 150, 243, 0.9);
    transition: height 0.25s ease;
}

.portfolio-picture__item:hover::before {
    height: 100%;
}

.portfolio-picture__desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: var(--white);
    opacity: 0;
    font-size: 18px;
    line-height: 1.5555;
    letter-spacing: 0.03em;
    text-align: left;
    transition: opacity 0.250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform:  translateY(-100%);
}

.portfolio-picture__item:hover p {
    opacity: 1;
    transform: translateY(0%)