.footer {
    padding: 60px 0;
    background-color: $dark-gray;

    &__container {
        display: flex;
        align-items: baseline;
    }

    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__link:hover {
        background-color: $blue;
    }

    &__link:hover {
        fill: $white;
    }
}

.footer-logo {

&__link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: $white;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__logo:hover {
    color: $blue;
}

&__logo {
    color: $blue;
}
}

.footer-address {

&__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.footer-contact {

    &__list {
    padding: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    list-style: none;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__item:not(:first-child)  {
    margin-top: 9px;
}
}

.footer-mail__link {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-phone__link {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail__link:hover,
.footer-phone__link:hover,
.footer-address__link:hover {
    color: $blue;
}

.footer-join-us {
    gap: 10px;
    margin-left: 70px;

&__heading {
    color: $white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
}

.footer-social-media {

&__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

&__logo {
    fill: $white;
}
}

.social-media-links__icon {
    fill: $social-media;
}

.sing-up {
    color: $white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: auto;


&__form {
    display: flex;
}

&__heading {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
}

&__input {
    box-sizing: border-box;
    color: $white;
    width: 358px;
    height: 50px;
    background: $dark-gray;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 15px;
    margin-right: 12px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__input:hover {
    border: 1px solid $blue;
}

&__button {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid $blue;
    border-radius: 4px;
    color: $white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.06em;
    text-align: left;
    padding-left: 42px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__button:hover {
    color: $dark-gray;
}

&__icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: $white;
}
}