$white: #ffffff;
$almost-white: #e5e5e5;
$blue: #2196f3;
$almost-black: #212121;
$black: #000000;
$dark-gray: #2f303a;
$gray: #757575;
$light-gray: #f5f4fa;
$button-blue: #0000ff;
$border-header: #ececec;
$border-portfolio-li: #eeeeee;
$social-media: #AFB1B8;
$privacy: #757575;